<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azhansy.linky">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <application
        android:name=".base.LinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="登录"
            android:theme="@style/LoginStyleTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".column.ChangeChannelActivity"
            android:exported="false"
            android:label="更改栏目"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:label="设置"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".joke.JokeDetailActivity"
            android:exported="false"
            android:label="笑话详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".weather.WeatherForecastActivity"
            android:exported="false"
            android:label="天气预报"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".setting.AboutActivity"
            android:exported="false"
            android:label="关于"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".setting.TestActivity"
            android:exported="false"
            android:label="测试"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".information.InformActivity"
            android:exported="false"
            android:label="林林资讯"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".culture.CultureActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".citypicker.CityPickerActivity"
            android:exported="false"
            android:label="选择城市"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".blog.BlogDetailActivity"
            android:exported="false"
            android:label="博客详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".weekly.WeeklyNewsDetailActivity"
            android:exported="false"
            android:label="周报详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- 6.0权限提醒页面 -->
        <activity
            android:name=".tedPermission.TedPermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--高德地图定位-->
        <service android:name="com.amap.api.location.APSService"/>
        <service android:name="com.amap.api.service.AMapService"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="07e4e3deba98311f4e9749f8170a9166"/>
        <!--高德地图定位结束-->
    </application>


</manifest>